@tailwind components;

@layer components {
  .section {
    @apply py-24 px-8;
  }

  .container-md {
    @apply max-w-7xl mx-auto px-4;
  }

  mark {
    @apply bg-transparent text-blue-light;
  }

  .btn {
    @apply min-h-10 px-4 rounded-md bg-blue-light text-white inline-flex items-center justify-center whitespace-nowrap align-middle transition-colors duration-200 ease-linear relative hover:bg-blue-normal focus:ring-1 focus:ring-blue-normal;
  }

  .icon-link-btn {
    @apply flex-center gap-2.5 px-2 py-1 rounded transition-colors hover:bg-badge-light dark:hover:bg-badge-dark;
  }

  .icon-link-btn--outline {
    @apply border border-badge-dark;
  }

  .icon-link-btn--active {
    @apply bg-badge-light dark:bg-badge-dark;
  }

  .title {
    --adornmentHeight: 0.3rem;
    --adornmentSpacing: 2rem;

    @apply font-mono text-[3rem] leading-[1em] text-center relative mb-[calc(var(--adornmentHeight)+var(--adornmentSpacing)*2)];
  }

  .title::after {
    content: "";
    @apply absolute rounded-[4px] w-[2.5rem] bg-[rgb(0,50,170)] dark:bg-[#67fd67];
    bottom: calc(var(--adornmentHeight) * -1 - var(--adornmentSpacing));
    left: 50%;
    transform: translateX(-50%);
    transition: all var(--transitionDuration) ease;
    height: var(--adornmentHeight);
  }
}
